<div class="row">
	<div class="col-sm-12">
		<strong>XRealm</strong>
        <div class="row">
            <div class="col-sm-12">
                <center><a href="#">Team</a></center>
            </div>
            <div class="col-sm-12">
                <center><a href="{{ path("imprint") }}">Impressum</a></center>
            </div>
        </div>
        <center>Das XRealm Projekt befindet sich noch in einer Alpha Phase, bitte haben Sie ein wenig Rücksicht und schauen nicht direkt auf die Bugs :)</center>
    </div>
</div>