<div class="row">
	<div class="col-sm-3">
		<strong>Über XRealm</strong>
		<ul>
			<li><a href="#">Team</a></li>
			<li><a href="#">Unterstütze uns</a></li>
			<li><a href="#">Impressum</a></li>
			<li><a href="#">Kontakt</a></li>
		</ul>
	</div>
	<div class="col-sm-3">
		<strong>Übersicht</strong>
		<ul>
			<li><a href="#">Kalender</a></li>
			<li><a href="#">Charaktersuche</a></li>
			<li><a href="#">Placeholder</a></li>
			<li><a href="#">Placeholder</a></li>
		</ul>
	</div>
	<div class="col-sm-3">
		<strong>Placeholder</strong>
		<ul>
			<li><a href="#">Placeholder</a></li>
			<li><a href="#">Placeholder</a></li>
			<li><a href="#">Placeholder</a></li>
			<li><a href="#">Placeholder</a></li>
		</ul>
	</div>
	<div class="col-sm-3">
		<strong>Placeholder</strong>
		<ul>
			<li><a href="#">Placeholder</a></li>
			<li><a href="#">Placeholder</a></li>
			<li><a href="#">Placeholder</a></li>
			<li><a href="#">Placeholder</a></li>
		</ul>
	</div>
</div>