<ul id="nav">
	<li class="element"><a href="#">Navigation 1</a></li>
	<li class="element"><a href="#">Navigation 2</a></li>
	<li class="element"><a href="#">Navigation 3</a></li>
	<li class="element"><a href="#">Navigation 4</a></li>
	<li class="element"><a href="#">Navigation 5</a></li>

</ul>